/* *******************************************css modificado****************************************** */

@media (max-width: 1200px) { 
 
  .botao{margin-top: 10px;}

}

@media (max-width: 765px){
  #buttonconsultarDesktop{display: none;}
  #buttonpdfDesktop{display: none;}
  #tabelaDesktop{display: none;}

 
  
}

@media (min-width: 765px){
  #botaoConsultaMobile{display: none}
  #buttonconsultarMobile{display: none;}
  #buttonpdfMobile{display: none;}
  #tabelaMobile{display: none;}
}

/* ************************************ */
